<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login container grid" id="loginAccessRegister">
        <div class="login__access">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/main.js"></script>
</body>
</html>